<header class="site-header">
   <div class="container header-content">
      <h2 class="logo"><a href="/">📝 Pro Blog</a></h2>
      <nav>
         <% if (user) { %>
         <span class="welcome-msg">Welcome, <%= user.username %></span>
         <a href="/create-post" style="text-decoration: none; color: white"
            ><button class="btn primary">New Post</button></a
         >
         <button class="btn" onclick="confirmLogout()">Logout</button>
         <% } else { %>
         <a class="nav-link" href="/register">Register</a>
         <a class="nav-link" href="/login">Login</a>
         <% } %>
      </nav>
   </div>
</header>

<script>
   function confirmLogout() {
      if (confirm("Are you sure you want to log out?")) {
         window.location.href = "/api/users/logout";
      }
   }
</script>
